.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfplan
*.tfplan.*
tfplan-*.bin
tfdestroy-*.bin
crash.log
crash.*.log
*.auto.tfvars
*.tfvars
!.tfvars.example
.terraform-docs.yml
